.main{
  width: 100vw;
  height: 140vh;
  background-image: url('../public/images/mesa-flor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Board {
  width: 100vw;
  padding: 0px 100px;
  height: 500px;

}


